body {
    //padding: 0.5rem;  
    //min-height: calc(100vh - 1rem);
}

.main-container {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1rem;

    header, footer {
      flex: 0;
    }

    main{
      flex: 1;
    }
}